:root {
  --primary: #78FFCD;
  --solid: #fff;
  --btn-w: 9em;
  --dot-w: calc(var(--btn-w)*.2);
  --tr-X: calc(var(--btn-w) - var(--dot-w));
}
* {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}

body {
    height: 100vh;
    margin: 0;
    min-height: 100%;
  }

#root {
  
  height: inherit;
  width: 100%;

  
  }


.welcomePageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, #925DAA, #FFE8FF, #00C9B6);    

}
.welcomeContentContainer {
    height: 20rem;
    /* width: 20rem; */
    margin: 0;
    display: flex;
    flex-direction: column;

  }

  
.welcomeContentContainer h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.5rem;
  color: #03dac6;
  transition: all 0.3s ease;
}

.welcomeContentContainer h1:hover {
  transform: translate3d(0, -10px, 22px);
  color: #ff0266;
}


.welcomeBtn {
  position: relative;
  margin: 0 auto;
  width: var(--btn-w);
  color: var(--primary);
  border: .15em solid var(--primary);
  border-radius: 5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  line-height: 2em;
  cursor: pointer;	
  padding: 0;
}
.dot {
  content: '';
  position: absolute;
  top: 0;
  width: var(--dot-w);
  height: 100%;
  border-radius: 100%;
  transition: all 300ms ease;
  display: none;
}
.dot:after {
  content: '';
  position: absolute;
  left: calc(50% - .4em);
  top: -.4em;
  height: .8em;
  width: .8em;
  background: var(--primary);
  border-radius: 1em;
  border: .25em solid var(--solid);
  box-shadow: 0 0 .7em var(--solid),
        0 0 2em var(--primary);
}
.welcomeBtn:hover .dot,
.welcomeBtn:focus .dot {
  animation: atom 2s infinite linear;
  display: block;
}
@keyframes atom {
  0% {transform: translateX(0) rotate(0);}
  30%{transform: translateX(var(--tr-X)) rotate(0);}
  50% {transform: translateX(var(--tr-X)) rotate(180deg);}
  80% {transform: translateX(0) rotate(180deg);}
  100% {transform: translateX(0) rotate(360deg);}
}

